<ul data-combobox class="bx--dropdown" tabindex="0">
  <li class="bx--dropdown-text">
    <button class="bx--combobox__clear">
      <svg class="bx--combobox__clear__icon" aria-label="close" width="10" height="10" viewBox="0 0 10 10" fill-rule="evenodd">
        <path d="M9.8 8.6L8.4 10 5 6.4 1.4 10 0 8.6 3.6 5 .1 1.4 1.5 0 5 3.6 8.6 0 10 1.4 6.4 5z"></path>
      </svg>
    </button>
    Choose an option
    <span class="bx--combobox__badge bx--combobox__badge--active">0</span>
  </li>
  <svg class="bx--dropdown__arrow" width="10" height="5" viewBox="0 0 10 5" fill-rule="evenodd">
    <path d="M10 0L5 5 0 0z"></path>
  </svg>
  <li>
    <ul class="bx--dropdown-list">
      <li data-option class="bx--combobox-item">
        <input id="bx--checkbox-option1" class="bx--checkbox" type="checkbox" value="option1" name="checkbox">
        <label for="bx--checkbox-option1" class="bx--checkbox-label">
          <span class="bx--checkbox-appearance">
            <svg class="bx--checkbox-checkmark" width="12" height="9" viewBox="0 0 12 9" fill-rule="evenodd">
              <path d="M4.1 6.1L1.4 3.4 0 4.9 4.1 9l7.6-7.6L10.3 0z"></path>
            </svg>
          </span>
          Option 1
        </label>
      </li>
      <li data-option class="bx--combobox-item">
        <input id="bx--checkbox-option2" class="bx--checkbox" type="checkbox" value="option2" name="checkbox">
        <label for="bx--checkbox-option2" class="bx--checkbox-label">
          <span class="bx--checkbox-appearance">
            <svg class="bx--checkbox-checkmark" width="12" height="9" viewBox="0 0 12 9" fill-rule="evenodd">
              <path d="M4.1 6.1L1.4 3.4 0 4.9 4.1 9l7.6-7.6L10.3 0z"></path>
            </svg>
          </span>
          Option 2
        </label>
      </li>
      <li data-option class="bx--combobox-item">
        <input id="bx--checkbox-option3" class="bx--checkbox" type="checkbox" value="option3" name="checkbox">
        <label for="bx--checkbox-option3" class="bx--checkbox-label">
          <span class="bx--checkbox-appearance">
            <svg class="bx--checkbox-checkmark" width="12" height="9" viewBox="0 0 12 9" fill-rule="evenodd">
              <path d="M4.1 6.1L1.4 3.4 0 4.9 4.1 9l7.6-7.6L10.3 0z"></path>
            </svg>
          </span>
          Option 3
        </label>
      </li>
      <li data-option class="bx--combobox-item">
        <input id="bx--checkbox-option4" class="bx--checkbox" type="checkbox" value="option4" name="checkbox">
        <label for="bx--checkbox-option4" class="bx--checkbox-label">
          <span class="bx--checkbox-appearance">
            <svg class="bx--checkbox-checkmark" width="12" height="9" viewBox="0 0 12 9" fill-rule="evenodd">
              <path d="M4.1 6.1L1.4 3.4 0 4.9 4.1 9l7.6-7.6L10.3 0z"></path>
            </svg>
          </span>
          Option 4
        </label>
      </li>
      <li data-option class="bx--combobox-item">
        <input id="bx--checkbox-option5" class="bx--checkbox" type="checkbox" value="option5" name="checkbox">
        <label for="bx--checkbox-option5" class="bx--checkbox-label">
          <span class="bx--checkbox-appearance">
            <svg class="bx--checkbox-checkmark" width="12" height="9" viewBox="0 0 12 9" fill-rule="evenodd">
              <path d="M4.1 6.1L1.4 3.4 0 4.9 4.1 9l7.6-7.6L10.3 0z"></path>
            </svg>
          </span>
          Option 5
        </label>
      </li>
    </ul>
  </li>
</ul>
