<ul data-multiselect class="bx--list-box bx--list-box--inline">
  <li class="bx--list-box__field bx--list-box__field--inline" tabindex="0" role="button" aria-label="open menu" aria-expanded="false" aria-haspopup="true">
    <div class="bx--list-box__label">
      <div class="bx--list-box__badge" title="Clear all selected items" tabindex="0">
        <span class="bx--list-box__badge-text">0</span>
        <svg class="bx--list-box__clear" fill-rule="evenodd" height="10" name="close" role="img" viewBox="0 0 10 10"
          width="10" aria-label="Clear all selected items">
          <title>Clear all selected items</title>
          <path d="M9.8 8.6L8.4 10 5 6.4 1.4 10 0 8.6 3.6 5 .1 1.4 1.5 0 5 3.6 8.6 0 10 1.4 6.4 5z"></path>
        </svg>
      </div>
      Label
    </div>
    <svg class="bx--list-box__menu-icon" width="10" height="5" viewBox="0 0 10 5" fill-rule="evenodd">
      <path d="M10 0L5 5 0 0z"></path>
    </svg>
  </li>
  <li class="bx--list-box__menu">
    <ul>
      <li data-option class="bx--list-box__menu-item" tabindex="-1">
        <input id="bx--checkbox-option1" class="bx--checkbox" type="checkbox" value="option1" name="checkbox" tabindex="-1">
        <label for="bx--checkbox-option1" class="bx--checkbox-label">
          <span class="bx--checkbox-appearance">
            <svg class="bx--checkbox-checkmark" width="12" height="9" viewBox="0 0 12 9" fill-rule="evenodd">
              <path d="M4.1 6.1L1.4 3.4 0 4.9 4.1 9l7.6-7.6L10.3 0z"></path>
            </svg>
          </span>
          Option 1
        </label>
      </li>
      <li data-option class="bx--list-box__menu-item" tabindex="-1">
        <input id="bx--checkbox-option2" class="bx--checkbox" type="checkbox" value="option2" name="checkbox" tabindex="-1">
        <label for="bx--checkbox-option2" class="bx--checkbox-label">
          <span class="bx--checkbox-appearance">
            <svg class="bx--checkbox-checkmark" width="12" height="9" viewBox="0 0 12 9" fill-rule="evenodd">
              <path d="M4.1 6.1L1.4 3.4 0 4.9 4.1 9l7.6-7.6L10.3 0z"></path>
            </svg>
          </span>
          Option 2
        </label>
      </li>
      <li data-option class="bx--list-box__menu-item" tabindex="-1">
        <input id="bx--checkbox-option3" class="bx--checkbox" type="checkbox" value="option3" name="checkbox" tabindex="-1">
        <label for="bx--checkbox-option3" class="bx--checkbox-label">
          <span class="bx--checkbox-appearance">
            <svg class="bx--checkbox-checkmark" width="12" height="9" viewBox="0 0 12 9" fill-rule="evenodd">
              <path d="M4.1 6.1L1.4 3.4 0 4.9 4.1 9l7.6-7.6L10.3 0z"></path>
            </svg>
          </span>
          Option 3
        </label>
      </li>
      <li data-option class="bx--list-box__menu-item" tabindex="-1">
        <input id="bx--checkbox-option4" class="bx--checkbox" type="checkbox" value="option4" name="checkbox" tabindex="-1">
        <label for="bx--checkbox-option4" class="bx--checkbox-label">
          <span class="bx--checkbox-appearance">
            <svg class="bx--checkbox-checkmark" width="12" height="9" viewBox="0 0 12 9" fill-rule="evenodd">
              <path d="M4.1 6.1L1.4 3.4 0 4.9 4.1 9l7.6-7.6L10.3 0z"></path>
            </svg>
          </span>
          Option 4
        </label>
      </li>
      <li data-option class="bx--list-box__menu-item" tabindex="-1">
        <input id="bx--checkbox-option5" class="bx--checkbox" type="checkbox" value="option5" name="checkbox" tabindex="-1">
        <label for="bx--checkbox-option5" class="bx--checkbox-label">
          <span class="bx--checkbox-appearance">
            <svg class="bx--checkbox-checkmark" width="12" height="9" viewBox="0 0 12 9" fill-rule="evenodd">
              <path d="M4.1 6.1L1.4 3.4 0 4.9 4.1 9l7.6-7.6L10.3 0z"></path>
            </svg>
          </span>
          Option 5
        </label>
      </li>
    </ul>
  </li>
</ul>
