<div data-multi-select class="bx--form-item bx--multi-select bx--list-box bx--list-box--inline">
  <div role="button" class="bx--list-box__field" tabindex="0" aria-label="close menu" aria-expanded="false" aria-haspopup="true">
    <div role="button" class="bx--list-box__selection bx--list-box__selection--toggle" tabindex="0" title="Clear all selected items">
      <span class="bx--list-box__selection-text">0</span>
      <svg class="bx--list-box__clear" fill-rule="evenodd" height="10" name="close" role="img" viewBox="0 0 10 10"
        width="10" aria-label="Clear all selected items">
        <title>Clear all selected items</title>
        <path d="M9.8 8.6L8.4 10 5 6.4 1.4 10 0 8.6 3.6 5 .1 1.4 1.5 0 5 3.6 8.6 0 10 1.4 6.4 5z"></path>
      </svg>
    </div>
    <span class="bx--list-box__label">Label</span>
    <div class="bx--list-box__menu-icon bx--list-box__menu-icon--open">
      <svg fill-rule="evenodd" height="5" name="caret--down" role="img" viewBox="0 0 10 5" width="10" aria-label="Close menu">
        <title>Close menu</title>
        <path d="M10 0L5 5 0 0z"></path>
      </svg>
    </div>
  </div>
  <div class="bx--list-box__menu bx--list-box__menu--toggle">
    <div class="bx--list-box__menu-item" id="downshift-1-item-0" tabindex="-1">
      <div class="bx--form-item bx--checkbox-wrapper">
        <label for="downshift-1-item-0" class="bx--checkbox-label">
          <input type="checkbox" name="Option 1" readonly="" tabindex="-1" class="bx--checkbox" id="downshift-1-item-0" value="on">
          <span class="bx--checkbox-appearance">
            <svg class="bx--checkbox-checkmark" fill-rule="evenodd" height="9" name="checkmark" role="img" viewBox="0 0 12 9" width="12" aria-label="Select this item">
              <title>Select this item</title>
              <path d="M4.1 6.1L1.4 3.4 0 4.9 4.1 9l7.6-7.6L10.3 0z"></path>
            </svg>
          </span>
          <span class="bx--checkbox-label-text">Option 1</span>
        </label>
      </div>
    </div>
    <div class="bx--list-box__menu-item" id="downshift-1-item-1" tabindex="-1">
      <div class="bx--form-item bx--checkbox-wrapper">
        <label for="downshift-1-item-1" class="bx--checkbox-label">
          <input type="checkbox" name="Option 2" readonly="" tabindex="-1" class="bx--checkbox" id="downshift-1-item-1" value="on">
          <span class="bx--checkbox-appearance">
            <svg class="bx--checkbox-checkmark" fill-rule="evenodd" height="9" name="checkmark" role="img" viewBox="0 0 12 9" width="12" aria-label="Select this item">
              <title>Select this item</title>
              <path d="M4.1 6.1L1.4 3.4 0 4.9 4.1 9l7.6-7.6L10.3 0z"></path>
            </svg>
          </span>
          <span class="bx--checkbox-label-text">Option 2</span>
        </label>
      </div>
    </div>
    <div class="bx--list-box__menu-item" id="downshift-1-item-2" tabindex="-1">
      <div class="bx--form-item bx--checkbox-wrapper">
        <label for="downshift-1-item-2" class="bx--checkbox-label">
          <input type="checkbox" name="Option 3" readonly="" tabindex="-1" class="bx--checkbox" id="downshift-1-item-2" value="on">
          <span class="bx--checkbox-appearance">
            <svg class="bx--checkbox-checkmark" fill-rule="evenodd" height="9" name="checkmark" role="img" viewBox="0 0 12 9" width="12" aria-label="Select this item">
              <title>Select this item</title>
              <path d="M4.1 6.1L1.4 3.4 0 4.9 4.1 9l7.6-7.6L10.3 0z"></path>
            </svg>
          </span>
          <span class="bx--checkbox-label-text">Option 3</span>
        </label>
      </div>
    </div>
    <div class="bx--list-box__menu-item" id="downshift-1-item-3" tabindex="-1">
      <div class="bx--form-item bx--checkbox-wrapper">
        <label for="downshift-1-item-3" class="bx--checkbox-label">
          <input type="checkbox" name="Option 4" readonly="" tabindex="-1" class="bx--checkbox" id="downshift-1-item-3" value="on">
          <span class="bx--checkbox-appearance">
            <svg class="bx--checkbox-checkmark" fill-rule="evenodd" height="9" name="checkmark" role="img" viewBox="0 0 12 9" width="12" aria-label="Select this item">
              <title>Select this item</title>
              <path d="M4.1 6.1L1.4 3.4 0 4.9 4.1 9l7.6-7.6L10.3 0z"></path>
            </svg>
          </span>
          <span class="bx--checkbox-label-text">Option 4</span>
        </label>
      </div>
    </div>
  </div>
</div>
