{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": ["last 1 version", "ie >= 11"]
        }
    }]
  ],
  "plugins": [
    "transform-class-properties",
    ["transform-react-jsx", { "pragma": "this.createElement" }],
    "./tools/babel-plugin-convert-this-identifier",
    "dev-expression"
  ]
}
