<div class="bx--tile-group">
  <label for="tile-1" class="bx--tile bx--tile--selectable" data-tile="selectable">
    <input data-tile-input type="radio" id="tile-1" labeltext="Selectable Tile" name="tile-group" value="standard" class="bx--tile-input">
    <div class="bx--tile__checkmark">
      <svg fill-rule="evenodd" height="16" name="checkmark--glyph" role="img" viewBox="0 0 16 16" width="16" aria-label="Tile checkmark" alt="Tile checkmark" focusable="false">
        <title>Tile checkmark</title>
        <path d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zM6.7 11.5L3.4 8.1l1.4-1.4 1.9 1.9 4.1-4.1 1.4 1.4-5.5 5.6z"></path>
      </svg>
    </div>
    <div class="bx--tile-content">Selectable Tile</div>
  </label>
  <label for="tile-2" class="bx--tile bx--tile--selectable" data-tile="selectable">
    <input data-tile-input type="radio" labeltext="Default selected tile" id="tile-2" name="tile-group" value="default-selected" class="bx--tile-input">
    <div class="bx--tile__checkmark">
      <svg fill-rule="evenodd" height="16" name="checkmark--glyph" role="img" viewBox="0 0 16 16" width="16" aria-label="Tile checkmark" alt="Tile checkmark" focusable="false">
        <title>Tile checkmark</title>
        <path d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zM6.7 11.5L3.4 8.1l1.4-1.4 1.9 1.9 4.1-4.1 1.4 1.4-5.5 5.6z"></path>
      </svg>
    </div>
    <div class="bx--tile-content">Selectable Tile</div>
  </label>
  <label for="tile-3" class="bx--tile bx--tile--selectable" data-tile="selectable">
    <input data-tile-input type="radio" labeltext="Selectable Tile" id="tile-3" name="tile-group" value="selected" class="bx--tile-input">
    <div class="bx--tile__checkmark">
      <svg fill-rule="evenodd" height="16" name="checkmark--glyph" role="img" viewBox="0 0 16 16" width="16" aria-label="Tile checkmark" alt="Tile checkmark" focusable="false">
        <title>Tile checkmark</title>
        <path d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zM6.7 11.5L3.4 8.1l1.4-1.4 1.9 1.9 4.1-4.1 1.4 1.4-5.5 5.6z"></path>
      </svg>
    </div>
    <div class="bx--tile-content">Selectable Tile</div>
  </label>
</div>
