@import '../../src/globals/scss/styles';
@import './vars.scss';
@import './mixins.scss';
@import './code-example.scss';
@import './component-example.scss';
@import './layout.scss';
@import './markdown-page.scss';
@import './page.scss';
@import './page-header.scss';
@import './prism.scss';
@import './syntax.scss';
@import './toggle-btn.scss';

html, body, .demo--container {
  height: 100%;
}

.demo--container {
  box-sizing: border-box;
  padding: 2em;
  transition: .2s;
  background-color: $ui-02;
}

.demo--shell {
  background-color: #fff;

  .bx--global-header {
    top: 0;
  }

  .bx--global-header__left-nav {
    top: 0;
  }

  .bx--interior-left-nav {
    top: 0;
    overflow: auto;
    border-right: none;
    z-index: 7000;

    &--collapsing, &--collapsed {
      width: 0;
    }
  }

  .bx--snippet--code {
    padding: 0;
    max-width: none;

    .bx--snippet-container {
      margin-right: 0;
      padding: 1rem;
      max-height: none;
    }
  }

  .left-nav-list__item-link,
  .bx--interior-left-nav--collapseable .left-nav-list--nested .left-nav-list__item-link {
    padding-right: 1.5rem;
  }

  .component-example__live {
    margin: 0;
    padding: 0;

    iframe {
      min-height: 200px;
    }
  }
  .page-header__label {
    letter-spacing: normal;
    text-transform: capitalize;
  }
  
  .demo--tree-title {
    margin: 0.5rem 0;
    padding: 0 1.25rem;
    font-size: 1rem;
    line-height: 1.2;
    text-transform: capitalize;
  }
}

.bx--tile-container {
  width: 100%;

  .bx--tile {
    display: block;
    height: 100%;
    width: 100%;
  }

  .bx--col {
    background: none;
    margin-bottom: 1rem;
  }
}

.bx--row {
  min-height: 50px;
}

[class*="bx--col"] {
  background-color: $color__gray-1;

  p {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.col-example {
  background-color: rgba(blue, 0.2);
  height: 100%;
}

.red {
  background-color: rgba(red, 0.2);
}

.green {
  background-color: rgba(green, 0.2);
}

.indigo {
  background-color: rgba(indigo, 0.2);
}
